In [190]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B483-79FB

 Directory of C:\Users\arnol\OneDrive\Documents\SMU\GitSMU\pandas-challenge\PyCitySchools

07/27/2023  03:58 PM    <DIR>          .
07/26/2023  11:55 PM    <DIR>          ..
07/26/2023  11:47 PM    <DIR>          .ipynb_checkpoints
07/27/2023  03:58 PM           144,550 PyCitySchools_starter.ipynb
               1 File(s)        144,550 bytes
               3 Dir(s)  740,055,719,936 bytes free

In [191]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path('C:/Users/arnol/OneDrive/Documents/SMU/GitSMU/pandas-challenge/Resources/schools_complete.csv')
student_data_to_load = Path('C:/Users/arnol/OneDrive/Documents/SMU/GitSMU/pandas-challenge/Resources/students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
df = school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

df = df.sort_values(by=["school_name"])

# District Summary

In [192]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete["School ID"]))
school_count

15

In [193]:
# Calculate the total number of students
student_count = len(pd.unique(school_data_complete["Student ID"]))
student_count

39170

In [194]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [195]:
# Calculate the average (mean) math score
average_math_score1 = school_data_complete["math_score"].astype(float)
average_math_score = average_math_score1.mean()
average_math_score

78.98537145774827

In [196]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [197]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [198]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [199]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) &
                                                  (school_data_complete["reading_score"] >= 70)].count()["student_name"]

overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [200]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools" : [school_count], 
                                 "Total Students" : [student_count],
                                 "Total Budget" : [total_budget],
                                 
                                 "Average Math Score" : [average_math_score],
                                 "Average Reading Score" : [average_reading_score],
                                 
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading" : [passing_reading_percentage],
                                 
                                 "% Overall Passing" : [overall_passing_rate],
                                })

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,.0f}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.0f} ".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.0f} ".format)

district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:,.0f} %".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.0f} %".format)

district_summary["% Overall Passing"] = district_summary["% Overall Passing"].map("{:,.0f} %".format)
# district_summary["Budget / Student"] = district_summary["Budget / Student"].map("${:,.2f}".format)



# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79,82,75 %,86 %,65 %

# School Summary

In [201]:
schoolnames = school_data[["school_name"]].sort_values(by=["school_name"]).reset_index(drop=True)
schoolnames

              school_name
0      Bailey High School
1     Cabrera High School
2    Figueroa High School
3        Ford High School
4     Griffin High School
5   Hernandez High School
6      Holden High School
7       Huang High School
8     Johnson High School
9        Pena High School
10  Rodriguez High School
11    Shelton High School
12     Thomas High School
13     Wilson High School
14     Wright High School

In [202]:
# Use the code provided to select all of the school types

school_type_df = school_data[["school_name","type"]]


# school_types = school_type_df.groupby("school_name")["type"].to_frame("Type").reset_index()

school_types = school_type_df.sort_values(by=["school_name"]).drop_duplicates("school_name")[["school_name","type"]].reset_index(drop=True)
school_types = school_types[["type"]]
school_types

        type
0   District
1    Charter
2   District
3   District
4    Charter
5   District
6    Charter
7   District
8   District
9    Charter
10  District
11   Charter
12   Charter
13   Charter
14   Charter

In [203]:
# Calculate the total student count per school
per_school_counts = df.groupby("school_name")["student_name"].count().to_frame("Total Students").reset_index()
per_school_counts = per_school_counts[["Total Students"]]
per_school_counts

    Total Students
0             4976
1             1858
2             2949
3             2739
4             1468
5             4635
6              427
7             2917
8             4761
9              962
10            3999
11            1761
12            1635
13            2283
14            1800

In [204]:
# Calculate the total school budget 


per_school_budget = school_data.groupby("school_name")["budget"].sum().to_frame("Total School Budget").reset_index()

per_school_budget = per_school_budget[["Total School Budget"]]


per_school_budget

    Total School Budget
0               3124928
1               1081356
2               1884411
3               1763916
4                917500
5               3022020
6                248087
7               1910635
8               3094650
9                585858
10              2547363
11              1056600
12              1043130
13              1319574
14              1049400

In [205]:
# and per capita spending per school

per_school_capita = per_school_budget["Total School Budget"].divide(per_school_counts["Total Students"]).to_frame("Per Student Budget")
per_school_capita

    Per Student Budget
0                628.0
1                582.0
2                639.0
3                644.0
4                625.0
5                652.0
6                581.0
7                655.0
8                650.0
9                609.0
10               637.0
11               600.0
12               638.0
13               578.0
14               583.0

In [206]:
# Calculate the average test scores per school

# AVG MATH

per_school_math = student_data.groupby("school_name")["math_score"].mean().to_frame("Average Math Score").reset_index()
per_school_math = per_school_math[["Average Math Score"]]
per_school_math

    Average Math Score
0            77.048432
1            83.061895
2            76.711767
3            77.102592
4            83.351499
5            77.289752
6            83.803279
7            76.629414
8            77.072464
9            83.839917
10           76.842711
11           83.359455
12           83.418349
13           83.274201
14           83.682222

In [207]:
# AVG READING

per_school_reading = student_data.groupby("school_name")["reading_score"].mean().to_frame("Average Reading Score").reset_index()
per_school_reading = per_school_reading[["Average Reading Score"]]
per_school_reading

    Average Reading Score
0               81.033963
1               83.975780
2               81.158020
3               80.746258
4               83.816757
5               80.934412
6               83.814988
7               81.182722
8               80.966394
9               84.044699
10              80.744686
11              83.725724
12              83.848930
13              83.989488
14              83.955000

In [208]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = student_data[student_data["math_score"] >= 70 ]


# school_students_passing_math 
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].count().to_frame("Passing Math").reset_index()
school_students_passing_math = school_students_passing_math[["Passing Math"]]
school_students_passing_math

    Passing Math
0           3318
1           1749
2           1946
3           1871
4           1371
5           3094
6            395
7           1916
8           3145
9            910
10          2654
11          1653
12          1525
13          2143
14          1680

In [209]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = student_data[student_data["reading_score"] >= 70 ]

school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count().to_frame("Passing Reading").reset_index()
school_students_passing_reading = school_students_passing_reading[["Passing Reading"]]
school_students_passing_reading

    Passing Reading
0              4077
1              1803
2              2381
3              2172
4              1426
5              3748
6               411
7              2372
8              3867
9               923
10             3208
11             1688
12             1591
13             2204
14             1739

In [210]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

students_passing_math_and_reading = student_data[(student_data["reading_score"] >= 70) &
                                                 (df["math_score"] >= 70)]


school_students_passing_math_and_reading = students_passing_math_and_reading.groupby("school_name")["student_name"].count().to_frame("Passing Overall").reset_index()
school_students_passing_math_and_reading = school_students_passing_math_and_reading[["Passing Overall"]]
school_students_passing_math_and_reading

    Passing Overall
0              2719
1              1697
2              1569
3              1487
4              1330
5              2481
6               381
7              1561
8              2549
9               871
10             2119
11             1583
12             1487
13             2068
14             1626

In [211]:
# Use the provided code to calculate the passing rates
per_school_passing_math = [school_students_passing_math.iloc[:,0] / per_school_counts.iloc[:,0] * 100][0].to_frame("% Passing Math")
per_school_passing_reading = [school_students_passing_reading.iloc[:,0] / per_school_counts.iloc[:,0] * 100][0].to_frame("% Passing Reading")
overall_passing_rate = [school_students_passing_math_and_reading.iloc[:,0] / per_school_counts.iloc[:,0] * 100][0].to_frame("% Overall Passing")

overall_passing_rate

    % Overall Passing
0           54.642283
1           91.334769
2           53.204476
3           54.289887
4           90.599455
5           53.527508
6           89.227166
7           53.513884
8           53.539172
9           90.540541
10          52.988247
11          89.892107
12          90.948012
13          90.582567
14          90.333333

In [212]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =  pd.concat([schoolnames,per_school_counts,school_types,
               per_school_budget,per_school_capita,per_school_math,
               per_school_reading,per_school_passing_math,per_school_passing_reading,overall_passing_rate], axis=1 ).set_index("school_name")

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f} %".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f} %".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f} %".format)

# Display the DataFrame
per_school_summary

,Total Students,type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,4976,District,"$3,124,928.00",$628.00,77.05,81.03,66.68 %,81.93 %,54.64 %
Cabrera High School,1858,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13 %,97.04 %,91.33 %
Figueroa High School,2949,District,"$1,884,411.00",$639.00,76.71,81.16,65.99 %,80.74 %,53.20 %
Ford High School,2739,District,"$1,763,916.00",$644.00,77.10,80.75,68.31 %,79.30 %,54.29 %
Griffin High School,1468,Charter,"$917,500.00",$625.00,83.35,83.82,93.39 %,97.14 %,90.60 %
Hernandez High School,4635,District,"$3,022,020.00",$652.00,77.29,80.93,66.75 %,80.86 %,53.53 %
Holden High School,427,Charter,"$248,087.00",$581.00,83.80,83.81,92.51 %,96.25 %,89.23 %
Huang High School,2917,District,"$1,910,635.00",$655.00,76.63,81.18,65.68 %,81.32 %,53.51 %
Johnson High School,4761,District,"$3,094,650.00",$650.00,77.07,80.97,66.06 %,81.22 %,53.54 %
Pena High School,962,Charter,"$585,858.00",$609.00,83.84,84.04,94.59 %,95.95 %,90.54 %
Rodriguez High School,3999,District,"$2,547,363.00",$637.00,76.84,80.74,66.37 %,80.22 %,52.99 %
Shelton High School,1761,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.87 %,95.85 %,89.89 %
Thomas High School,1635,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27 %,97.31 %,90.95 %
Wilson High School,2283,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87 %,96.54 %,90.58 %
Wright High School,1800,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.33 %,96.61 %,90.33 %

## Highest-Performing Schools (by % Overall Passing)

In [213]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = pd.concat([per_school_summary],axis=1).sort_values(by=["% Overall Passing"],ascending=False).reset_index(drop=True)

top_schools.head(5)

,Total Students,type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,1858,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13 %,97.04 %,91.33 %
1,1635,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27 %,97.31 %,90.95 %
2,1468,Charter,"$917,500.00",$625.00,83.35,83.82,93.39 %,97.14 %,90.60 %
3,2283,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87 %,96.54 %,90.58 %
4,962,Charter,"$585,858.00",$609.00,83.84,84.04,94.59 %,95.95 %,90.54 %

## Bottom Performing Schools (By % Overall Passing)

In [214]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = pd.concat([per_school_summary],axis=1).sort_values(by=["% Overall Passing"],ascending=True).reset_index(drop=True)

bottom_schools.head(5)

,Total Students,type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,3999,District,"$2,547,363.00",$637.00,76.84,80.74,66.37 %,80.22 %,52.99 %
1,2949,District,"$1,884,411.00",$639.00,76.71,81.16,65.99 %,80.74 %,53.20 %
2,2917,District,"$1,910,635.00",$655.00,76.63,81.18,65.68 %,81.32 %,53.51 %
3,4635,District,"$3,022,020.00",$652.00,77.29,80.93,66.75 %,80.86 %,53.53 %
4,4761,District,"$3,094,650.00",$650.00,77.07,80.97,66.06 %,81.22 %,53.54 %

## Math Scores by Grade

In [215]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [216]:
# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean().to_frame("9th").reset_index()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean().to_frame("10th").reset_index()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean().to_frame("11th").reset_index()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean().to_frame("12th").reset_index()


eleventh_grader_math_scores.loc[:,["11th"]]

         11th
0   77.515588
1   82.765560
2   76.884344
3   76.918058
4   83.842105
5   77.136029
6   85.000000
7   76.446602
8   77.491653
9   84.328125
10  76.395626
11  83.383495
12  83.498795
13  83.195326
14  83.836782

In [217]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.concat([schoolnames,
                                  ninth_grade_math_scores.loc[:,["9th"]],
                                  tenth_grader_math_scores.loc[:,["10th"]],
                                  eleventh_grader_math_scores.loc[:,["11th"]],
                                  twelfth_grader_math_scores.loc[:,["12th"]]],
                                 axis=1)


math_scores_by_grade

              school_name        9th       10th       11th       12th
0      Bailey High School  77.083676  76.996772  77.515588  76.492218
1     Cabrera High School  83.094697  83.154506  82.765560  83.277487
2    Figueroa High School  76.403037  76.539974  76.884344  77.151369
3        Ford High School  77.361345  77.672316  76.918058  76.179963
4     Griffin High School  82.044010  84.229064  83.842105  83.356164
5   Hernandez High School  77.438495  77.337408  77.136029  77.186567
6      Holden High School  83.787402  83.429825  85.000000  82.855422
7       Huang High School  77.027251  75.908735  76.446602  77.225641
8     Johnson High School  77.187857  76.691117  77.491653  76.863248
9        Pena High School  83.625455  83.372000  84.328125  84.121547
10  Rodriguez High School  76.859966  76.612500  76.395626  77.690748
11    Shelton High School  83.420755  82.917411  83.383495  83.778976
12     Thomas High School  83.590022  83.087886  83.498795  83.497041
13     Wilson High School  83.085578  83.724422  83.195326  83.035794
14     Wright High School  83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [218]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

In [219]:
# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean().to_frame("9th").reset_index()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean().to_frame("10th").reset_index()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean().to_frame("11th").reset_index()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean().to_frame("12th").reset_index()

In [220]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`



reading_scores_by_grade = pd.concat([schoolnames,
                                  ninth_grade_reading_scores.loc[:,["9th"]],
                                  tenth_grader_reading_scores.loc[:,["10th"]],
                                  eleventh_grader_reading_scores.loc[:,["11th"]],
                                  twelfth_grader_reading_scores.loc[:,["12th"]]],
                                 axis=1)


reading_scores_by_grade

              school_name        9th       10th       11th       12th
0      Bailey High School  81.303155  80.907183  80.945643  80.912451
1     Cabrera High School  83.676136  84.253219  83.788382  84.287958
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
3        Ford High School  80.632653  81.262712  80.403642  80.662338
4     Griffin High School  83.369193  83.706897  84.288089  84.013699
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
6      Holden High School  83.677165  83.324561  83.815534  84.698795
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
9        Pena High School  83.807273  83.612000  84.335938  84.591160
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426
11    Shelton High School  84.122642  83.441964  84.373786  82.781671
12     Thomas High School  83.728850  84.254157  83.585542  83.831361
13     Wilson High School  83.939778  84.021452  83.764608  84.317673
14     Wright High School  83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [221]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [222]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [223]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df
,

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels= labels)
per_school_summary

SyntaxError: invalid syntax (416621729.py, line 2)

In [224]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Spending Ranges (Per Student)'

In [225]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

SyntaxError: invalid syntax (1784604702.py, line 2)

## Scores by School Size

In [162]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [161]:
per_school_summary

,Total Students,type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,4976,District,"$3,124,928.00",$628.00,77.05,81.03,66.68 %,81.93 %,54.64 %
Cabrera High School,1858,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13 %,97.04 %,91.33 %
Figueroa High School,2949,District,"$1,884,411.00",$639.00,76.71,81.16,65.99 %,80.74 %,53.20 %
Ford High School,2739,District,"$1,763,916.00",$644.00,77.10,80.75,68.31 %,79.30 %,54.29 %
Griffin High School,1468,Charter,"$917,500.00",$625.00,83.35,83.82,93.39 %,97.14 %,90.60 %
Hernandez High School,4635,District,"$3,022,020.00",$652.00,77.29,80.93,66.75 %,80.86 %,53.53 %
Holden High School,427,Charter,"$248,087.00",$581.00,83.80,83.81,92.51 %,96.25 %,89.23 %
Huang High School,2917,District,"$1,910,635.00",$655.00,76.63,81.18,65.68 %,81.32 %,53.51 %
Johnson High School,4761,District,"$3,094,650.00",$650.00,77.07,80.97,66.06 %,81.22 %,53.54 %
Pena High School,962,Charter,"$585,858.00",$609.00,83.84,84.04,94.59 %,95.95 %,90.54 %
Rodriguez High School,3999,District,"$2,547,363.00",$637.00,76.84,80.74,66.37 %,80.22 %,52.99 %
Shelton High School,1761,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.87 %,95.85 %,89.89 %
Thomas High School,1635,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27 %,97.31 %,90.95 %
Wilson High School,2283,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87 %,96.54 %,90.58 %
Wright High School,1800,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.33 %,96.61 %,90.33 %

In [163]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels= labels)
per_school_summary

,Total Students,type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,4976,District,"$3,124,928.00",$628.00,77.05,81.03,66.68 %,81.93 %,54.64 %,Large (2000-5000)
Cabrera High School,1858,Charter,"$1,081,356.00",$582.00,83.06,83.98,94.13 %,97.04 %,91.33 %,Medium (1000-2000)
Figueroa High School,2949,District,"$1,884,411.00",$639.00,76.71,81.16,65.99 %,80.74 %,53.20 %,Large (2000-5000)
Ford High School,2739,District,"$1,763,916.00",$644.00,77.10,80.75,68.31 %,79.30 %,54.29 %,Large (2000-5000)
Griffin High School,1468,Charter,"$917,500.00",$625.00,83.35,83.82,93.39 %,97.14 %,90.60 %,Medium (1000-2000)
Hernandez High School,4635,District,"$3,022,020.00",$652.00,77.29,80.93,66.75 %,80.86 %,53.53 %,Large (2000-5000)
Holden High School,427,Charter,"$248,087.00",$581.00,83.80,83.81,92.51 %,96.25 %,89.23 %,Small (<1000)
Huang High School,2917,District,"$1,910,635.00",$655.00,76.63,81.18,65.68 %,81.32 %,53.51 %,Large (2000-5000)
Johnson High School,4761,District,"$3,094,650.00",$650.00,77.07,80.97,66.06 %,81.22 %,53.54 %,Large (2000-5000)
Pena High School,962,Charter,"$585,858.00",$609.00,83.84,84.04,94.59 %,95.95 %,90.54 %,Small (<1000)
Rodriguez High School,3999,District,"$2,547,363.00",$637.00,76.84,80.74,66.37 %,80.22 %,52.99 %,Large (2000-5000)
Shelton High School,1761,Charter,"$1,056,600.00",$600.00,83.36,83.73,93.87 %,95.85 %,89.89 %,Medium (1000-2000)
Thomas High School,1635,Charter,"$1,043,130.00",$638.00,83.42,83.85,93.27 %,97.31 %,90.95 %,Medium (1000-2000)
Wilson High School,2283,Charter,"$1,319,574.00",$578.00,83.27,83.99,93.87 %,96.54 %,90.58 %,Large (2000-5000)
Wright High School,1800,Charter,"$1,049,400.00",$583.00,83.68,83.95,93.33 %,96.61 %,90.33 %,Medium (1000-2000)

In [179]:
per_school_summary[["Average Math Score"]].mean()

C:\Users\arnol\anaconda3\envs\pyviz\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [174]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary["Average Math Score"].mean()

# size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
# size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
# size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
# size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: Could not convert 77.0583.0676.7177.1083.3577.2983.8076.6377.0783.8476.8483.3683.4283.2783.68 to numeric

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary